<html>
  <head>
  <nav class="navMenu">
      <a href="/register ">Register</a>
      <a href="/homepage"> Back to Peep Page</a>
      <div class="dot"></div>
</nav>
    <title>Login</title>
  </head>
  <body>
    <h1>Login</h1>
    <form action="/login" method="post">
      <label>Email:</label>
      <input type="email" name="email" required>
      <br>
      <label>Password:</label>
      <input type="password" name="password" required>
      <br>
      <button type="submit">Login</button>
    </form>
  </body>
</html>